<div class="container">
    {{> site-nav}}
    <div class="grid-book">
        <form action="/admin/books/{{books.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">
            <div class="container-form">
                <table>
                    <th>
                    <td>
                        <label for="title">Kitap Adı:</label>
                        <input type="text" name="title" value="{{books.title}}" required="required">

                    </td>
                    <td>
                        <label for="title">Yazar:</label>
                        <input type="text" name="author" value="{{books.author}}">
                    </td>
                    <td>
                        <label for="title">Yayın Evi:</label>
                        <input type="text" name="publisher" value="{{books.publisher}}">
                    </td>
                    <td>
                        <select name="category">
                            {{#each categories}}
                            <option value="{{id}}">{{catName}} selected </option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <label for="title">Resim :</label>
                        <input type="file" name="book_image">
                    </td>
                    <td>
                        <button type="submit">Kitap Güncelle</button>
                    </td>
                    </th>
                </table>
            </div>
        </form>
    </div>
</div>