<div class="container">
    {{> site-sBar}}
    {{> site-navS}}
    <main class="container-books">
        <div class="message">
            {{#if sessionFlash.message}}
            <div class="div">
                <p class="{{sessionFlash.type}}">{{sessionFlash.message}}</p>
            </div>
            {{/if}}
        </div>
        <ul class="cardList">
            {{#each books}}
            <div class="inCard">
                <li>
                    <div class="bookList">
                        <div class="bookImg">
                            <a href="/book/{{_id}}"><img class="imgRes" src={{book_image}} alt="resim"></a>
                        </div>
                        <div class="bookContent">
                            <div class="title">
                                <a href="/book/{{_id}}">{{title}}</a>
                            </div>
                            <div class="publisher">
                                <a>{{publisher}}</a>
                            </div>
                            <div class="author">
                                <a>{{author}}</a>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            {{/each}}
        </ul>
        {{>site-sideBar}}
    </main>
    {{>site-footer}}
</div>