<div class="container">
    {{> site-nav}}
    <main class="container-booksS">
        <ul class="cardListS">
            <li class="inCardS">
                <div class="bookListS">
                    <div class="bookImg">
                        <img src={{book.book_image}} alt="resim">
                    </div>
                    <div class="bookContentSing">
                        <div class="title">
                            <a>{{book.title}}</a>
                        </div>
                        <div class="publisher">
                            <a>{{book.publisher}}</a>
                        </div>
                        <div class="author">
                            <a>{{book.author}}</a>
                        </div>
                    </div>
                </div>
            </li>
            <div class="single-content">
                <div class="text-content">
                    <p>Kategori İsmi: {{book.category.catName}}</p>
                    <p>Eklenme Tarihi: {{generateDate book.date 'MMM DD YYYY'}}</p>
                </div>
            </div>
        </ul>
    </main>
    {{>site-footer}}
</div>